xxh
squashfs-root
appimage
xxh-shell*
xxh-plugin*
*.pyc
*.out
*.xcf
*.egg
.eggs/
.pytest_cache/
build/
dist/
xxh_xxh.egg-info/
venv/

# temporary files from vim and emacs
*~
*#
.#*
*.swp
*.swo

# Editor project files
*.komodo*
.cache
.idea
.vscode/

# Mac
.DS_Store
